body{
  background-color: Blue;
  background-image:  radial-gradient(#000 0.7000000000000001px, transparent 0.7000000000000001px), radial-gradient(#000 0.7000000000000001px, #fefefe 0.7000000000000001px);
  background-size: 28px 28px;
  background-position: 0 0,14px 14px;
}

#login{
  margin:300px;
}